/*fonts*/

@font-face {
    font-family: 'Lato-Light'; /* Замените на актуальное название */
    src: url('fonts/Lato-Light.ttf'); /* Замените на актуальный путь к файлу шрифта */
}

@font-face {
    font-family: 'Lato-Black'; /* Замените на актуальное название */
    src: url('fonts/Lato-Black.ttf'); /* Замените на актуальный путь к файлу шрифта */
}

/*fonts*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-bar{
    font-family: Lato-Light;
    margin: 0 auto;
    width: 1196px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 112px;
    margin-top: 79px;
}

ul{
    font-size: 20px;
    display: flex;
    gap: 79px;
}

.active{
    font-family: Lato-Black;
}

a{
    color: rgb(128, 128, 128);
}

.butt{
    font-size: 16px;
    font-family: Lato-Black;
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    padding: 19px 55px;
    color: black;
}
