/*fonts*/

@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Cardo-Bold';
    src: url('fonts/Cardo-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf');
}

/*fonts*/

*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width: 1440px;
    height: 8000px;
    background-color: #e9e7e7;
}

.header{
    width: 1382px;
    height: 818px;
    margin-left: 112px;
    margin-top: 79px;
}

.nav-bar{
    width: 1198px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}

.nav-btns{
    margin-top: 14px;
    width: 458px;
    height: 20px;
    display: flex;
    font-family: Lato-Light;
    font-weight: 300;
    font-size: 20px;
    justify-content: space-between;
}

.nav-btn{
    color: #232323;
}

.active{
    font-family: Lato-Black, sans-serif;
    color: #232323;
}

.btn-contact{
    min-width: 215px;
    min-height: 54px;
    display: inline-block;
    border: 3px solid #232323;
    border-radius: 5px;
    padding-top: 10px;
}

.txt-contact{
    width: 105px;
    height: 16px;
    font-family: Lato-Black, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #232323;
    margin-left: 52px;
    letter-spacing: 0.5px;
}

.home{
    display: flex;
    width: 428px;
    height: 419px;
    margin-top: 108px;
}

.bold-header{
    width: 428px;
    height: 232px;
    font-family: Cardo-Bold, sans-serif;
    font-weight: 700;
    font-size: 84px;
    letter-spacing: -1px;
    line-height: 81px;
}

.p-header{
    width: 426px;
    height: 56px;
    font-family: Lato-Regular, sans-serif;
    font-weight: 400;
    padding-top: 31px;
    text-align: justify;
    letter-spacing: -0.1px;
}

.btn-reserve{
    min-width: 256px;
    min-height: 54px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 78px;
    margin-left: 3px;
    background-color: #232323;
    padding-top: 14px;
}

.txt-reserve{
    margin-left: 56px;
    color:#e9e7e7;
    font-family: Lato-Black, sans-serif;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.img-header{
    padding-left: 106px;
}

.scrible-d-home{
    padding-left: 12px;
    padding-top: 246px;
    z-index: -1;
}

.scrible-l-home{
    position: absolute;
    z-index: -1;
    margin-left: -112px;
    margin-top: 184px;
}

.guides{
    /*width: 1574px;*/
    width: 1440px;
    height: 1187px;
    margin-top: -78px;
}

.text-guides{
    height: 387px;
    width: 1440px;
    background-color: #232323;
    text-align: center;
}

.text-container-title-guides{
    width: 438px;
    height: 98px;
    padding-top: 49px;
    margin-left: auto;
    margin-right: auto;
}

.title-guides{
    width: 438px;
    height: 98px;
    font-family: Cardo-Bold, sans-serif;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 0.7px;
    line-height: 54px;
    color: #e9e7e7;
    text-align: center;
}

.text-container-par-guides{
    width: 439px;
    height: 56px;
    padding-top: 82px;
    margin-left: auto;
    margin-right: auto;
}

.p-guides{
    width: 439px;
    height: 56px;
    font-family: Lato-Regular, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 20px;
    color: #e9e7e7;
}

.btn-logs{
    margin-top: 98px;
    min-width: 256px;
    min-height: 54px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #232323;
    padding-top: 12px;
    text-align: left;
}

.txt-logs{
    width: 140px;
    height: 18px;
    font-family: Lato-Black, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #e9e7e7;
    margin-left: 56px;
    letter-spacing: 0.5px;
}

.scrible-light-g-1{
    margin-top: 51px;
    position: absolute;
}

.scrible-light-g-2{
    text-align: right;
    margin-top: -96px;
}

.img-guides{
    width: 1207px;
    height: 474px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 166px;
}

.delimiter{
    margin-top: 28px;
    width: 52px;
    height: 3px;
    background-color: #232323;
}

.head-img{
    margin-top: 24px;
    width: 230px;
    height: 63px;
    font-family: Cardo-Bold, sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: -0.5px;
    line-height: 36px;
}

.par-img{
    margin-top: 36px;
    margin-left: 1px;
    width: 362px;
    height: 76px;
    font-family: Lato-Regular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    letter-spacing: -0.3px;
    line-height: 20px;
}

.scrible-dark-g1{
    position: absolute;
    margin-top: -15px;
}

.scrible-light-f{
    text-align: right;
    margin-top: 48px;
}

.scrible-dark-g2{
    text-align: right;
    /*переделать*/
    margin-top: -232px;
}

.emptydiv-1{
    width: 1440px;
    height: 238px;
}

.container-flights{
    margin-left: auto;
    margin-right: auto;
    width: 975px;
    height: 401px;
}

.plane-icon{
    width: 1440px;
    text-align: center;
}


.coursive{
    font-style: italic;
}

.text-flights{
    margin-left: auto;
    margin-right: auto;
    width: 777px;
    height: 285px;
}

.head-flights{
    width: 777px;
    height: 199px;
    font-family: Cardo-Bold, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 99px;
    letter-spacing: -0.6px;
    line-height: 96px;
    margin-top: 59px;
}

.delimiter-flights{
    margin-top: -7px;
    width: 244px;
    height: 5px;
    background-color: #232323;
}

.par-flights{
    width: 647px;
    height: 23px;
    text-align: center;
    font-family: Lato-Black, sans-serif;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 0.7px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.scrible-dark-f{
    margin-left: -98px;
    margin-top: 5px;
}

.mountains {
    width: 1241px;
    height: 776px;
    display:flex;
    margin-left:84px;
    position: relative;
}

.mountains-tape {
    position: absolute;
    top: 50%;
    transform: translate(0%, -52%);
}

.fa-solid{
    display: flex;
    margin-top: auto;
    margin-left: 40px;
}

.fa-arrow-right-long{
}

.img-mountain-1 {
    margin-left: 35px;
}

.mountains-right-container {
    margin-left: 43px;
}

.emptydiv-2{
    height: 154px;
}

.mountain-text{
    display: flex;
    margin-top: 64px;
}

.head-mountains {
    width: 236px;
    height: 235px;
    font-family: Cardo-Bold, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 37px;
    line-height: 50px;
    letter-spacing: -0.1px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-decoration-skip-ink: none;
}

.par-mountain{
    margin-top: 7px;
    margin-left: 45px;
    width: 317px;
    height: 175px;
    font-family: Lato-Regular, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
}

.par-mountains-text{
    letter-spacing: -0.9px;
    line-height: 20px;
}

.man-on-mountain{
    margin-top: 47px;
    width: 1440px;
    height: 872px;
    background: #232323;
}

.man-on-mountain-container{
    margin-left: auto;
    width: 1322px;
    height: 562px;
    display: flex;
    background: aqua;
    justify-content: space-between;
}

.man-on-mountain-h1{
    width: 456px;
    height: 118px;
    font-family: Cardo-Bold, sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 56px;
    font-size: 55px;
}

.man-on-mountain-pars{
    width: 453px;
    height: 144px;
    padding-top: 45px;
}

.par-title{
    margin-top: 60px;
    width: 203px;
    height: 23px;
    font-family: Lato-Black, sans-serif;
    font-weight: 900;
    font-size: 23px;
    letter-spacing: 0.4px;
}
.par-text{
    margin-left: 1px;
    margin-top: 19px;
    width: 453px;
    height: 96px;
    font-family: Lato-Regular, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: -1.1px;
}
